@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.input_div{
  font-size: 35px;
  border: 3px solid rgb(60, 60, 60);
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  margin: auto;
  padding: 25px;
}

.input_div:hover{
  background-color: #777;
}


.projekty_svg{
  padding-top: 100px;
  display: flex;
}

/* .projekty_svg div:nth-child(3){margin-bottom: 10px; margin-top: -10px;} */
.projekty_svg div:nth-child(2){margin-bottom: 5px; margin-top: -5px;}

.card_container{
  width: 30%;
  cursor: alias;
  outline: 4px solid rgb(54, 54, 54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.card{
  width: 100%;
}

.card_container:not(:first-child) {
  margin-left: -10%;
}

.card_container:hover ~ .card_container,
.card_container:focus-within ~ .card_container {
  transform: translatex(30%);
}

.card_container:hover,
.card_container:focus-within {
  transform: translateY(-1rem);
}

.zacni{
  background-color: rgb(174, 174, 174); 
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
  list-style-type: none;
  margin: auto;
}

.zacni a{
  color: inherit;
  text-decoration: none;
  font-size: 30px;
} 

.zacni a:hover {
  color:#00A0C6; 
  text-decoration: none;
  cursor:pointer;  
} 

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.logo {
  filter: invert(100%) sepia(45%) saturate(25%) hue-rotate(257deg) brightness(104%) contrast(102%);
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;

}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}